* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1A1A1A;
    --secondary-color: #085181;
    --accent1-color: #2D2D2D;
    --accent2-color: #ffc038;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: end;
    align-items: center;
    background-color: var(--primary-color);
}

.links {
    display:flex;
    flex-flow: row;
    column-width: auto;
    list-style: none;
}

.links li {
    border: 1px solid black;
    background-color: rgb(238, 236, 236);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.links a{
    text-decoration: none;
    white-space: nowrap;
    color: blue;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.history {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin: 20px;
    border: 1px solid black;
    padding: 10px;
}

.history h2 {
    grid-column: 1 / -1;
    justify-self: center;
    margin-bottom: 20px;
}

.history img {
    width: 200px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.history p{
    margin: 0px;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    max-width: 800px;
    border: 1px solid black;
    text-align: center;
}

.adventure h2 {
    display: grid;
    grid-column: 1 / -1;
    justify-self: center;
    margin-bottom: 20px;
}

.adventure figure {
    display: grid;
    
}
.adventure img {
    width: 150px;
    height: auto;
}


.socialmedia a{
    text-decoration: none;
}

.hero {
    position:relative;
}

.hero h1 {
    position:absolute;
    top: 20px;
    width: 100%;
    opacity: 0.7;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    color: #fff
}

.hero article {
    position:absolute;
    bottom: 20px;
    right: 10px;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    opacity: 0.8;
}

.hero img{
    display:block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    border: 1px solid black;
    background-color: var(--primary-color);
    
}

footer p{
    grid-column: 2;
    text-align: center;
    color: #fff;
}
footer nav{
    display: flex;
    justify-content: end;
    gap: 1rem;
}

footer img {
    width: 50px;
}

.contacContainer {
    display:flex;
    justify-content: center;
}
.contactInfo {
    text-align: center;
}

.contactInfo h1, .contactInfo p{
    margin: 0px
}

.interactive{
    display: flex;
}

.map, .form {
    flex: 1;
}
.map iframe{
    width: 100%;
    height: 100%;
}

.columnForm {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(5,1fr);
    align-items: center;
    row-gap: 10px;
}

.radioSpan {
    grid-row: span 3;
    display: flex;
    flex-direction: column;   
}

legend {
    grid-row: span 3;
    align-self: center;
    white-space: normal;
    max-width: 120px;
}

.fullspan {
    grid-column: span 2;
}

.columnForm input {
    padding: 5px;
}

button{
    padding: 5px;
}

textarea{
    padding: 5px;
}

.employees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    max-width: 800px;
    border: 1px solid black;
    text-align: center;
}

.employees h2 {
    display: grid;
    grid-column: 1 / -1;
    justify-self: center;
    margin-bottom: 20px;
}

.employees figure {
    display: grid;
    
}
.employees img {
    width: auto;
    height: 300px;
    margin: 1rem;
}

/* To eliminate fieldset interference with the grid */
fieldset {
    border: none;
    padding: 0;
    margin: 0;
    min-inline-size: 0; 
}

fieldset.fullspan {
    grid-column: span 2;
    display: contents;
}

/*HOMEPAGE */

/* Pictures in the middle */
.small-icons {
    margin-top: 100px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    max-width: 800px;
    text-align: center;
}

.small-icons figure {
    display: grid;
    justify-items: center;
    
}
.mid-image {
    width: 250px;
    height: auto;
    border: 3px solid var(--accent2-color);
}

.icon {
    margin-top: 10px;
    width: 50px;
    height: auto;
}

/* button on the banner */

.hero .url {
    position:absolute;
    display: inline-block;
    opacity: 1;
    border-radius: 30px;
    background-color: var(--primary-color);
    padding: 0px;
}

.hero .url a {
    text-decoration: none;
    color: #fff;
    font-size: large;
    cursor: pointer;
    display: block;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 30px;
}


/* Newsletter */
.newsletter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 200px;
    margin-bottom: 100px;
    background-color: var(--accent2-color);
    padding: 50px;
}

.newsletter h2{
    margin: 10px;
    grid-column: span 2;
    text-align: center;
}

.newsletter img {
    width: 150px;
    height: auto;
    margin-top: 10px;
}

.newsletter form {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.newsletter input {
    padding: 5px;
    font-size: large;
    margin: 10px;
    border: 1px solid var(--accent1-color);
    box-shadow: 0 0 2px #1A1A1A;
    border-radius: 3px;
}

.newsletter button {
    margin: 10px;
    grid-column: 2;
    padding: 5px;
}


/* Trips page */

/* Title and description */

.trips-title h1 {
    text-align: center;
}

.trips-title p{
    border: 3px groove var(--secondary-color);
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    border-radius: 5px;
}

/* Table */

.table-trips {
    border: 2px solid var(--primary-color);
    background-color: var(--accent2-color);
    padding: 10px 5px;
    border-collapse: collapse;
}

.table-trips thead {
    background-color: var(--accent1-color);
    color: #fff;
    margin: 5px;
}

.table-trips th, td {
    border-right: 1px solid var(--primary-color);
    padding: 15px 10px;
}

/* Popular Trips */

.popular {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    
}

.popular h2{
    grid-column-start: 1;
    grid-column-end: 4;
    max-width: 800px;
    margin-bottom: 15px;
}

/* reset the margin to make it take less space */
.popular figure, .popular figcaption,
.popular p {
    margin: 0;
}

.popular figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.popular-big{
    grid-column: 1/4;
    border-top: 1px solid var(--primary-color);
    box-shadow: 0 -4px 10px -7px var(--accent1-color);
                
}

.popular-small{
    width: 200px;
    height: auto;
}

/* Contact us button */

.contact-button {
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
}

.contact-button h2 {
    grid-column: 1/4;
    text-align: center;
    margin: 25px auto;
}

.contact-button a {
    text-decoration: none;
    color: #fff;
    font-size: large;
    cursor: pointer;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 30px;
    grid-column: 2 / 3;
    text-align: center;
}