* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1A1A1A;
    --secondary-color: #085181;
    --accent1-color: #2D2D2D;
    --accent2-color: #ffc038;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: end;
    align-items: center;
    background-color: var(--primary-color);
}

.links {
    display:flex;
    flex-flow: row;
    column-width: auto;
    list-style: none;
}

.links li {
    border: 1px solid black;
    background-color: rgb(238, 236, 236);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.links a{
    text-decoration: none;
    white-space: nowrap;
    color: blue;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.history {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin: 20px;
    border: 1px solid black;
    padding: 10px;
}

.history h2 {
    grid-column: 1 / -1;
    justify-self: center;
    margin-bottom: 20px;
}

.history img {
    width: 200px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.history p{
    margin: 0px;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    max-width: 800px;
    border: 1px solid black;
    text-align: center;
}

.adventure h2 {
    display: grid;
    grid-column: 1 / -1;
    justify-self: center;
    margin-bottom: 20px;
}

.adventure figure {
    display: grid;
    
}
.adventure img {
    width: 150px;
    height: auto;
}


.socialmedia a{
    text-decoration: none;
}

.hero {
    position:relative;
}

.hero h1 {
    position:absolute;
    top: 20px;
    width: 100%;
    opacity: 0.7;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    color: #fff
}

.hero article {
    position:absolute;
    bottom: 20px;
    right: 10px;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    opacity: 0.8;
}

.hero img{
    display:block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    border: 1px solid black;
    background-color: var(--primary-color);
    
}

footer p{
    grid-column: 2;
    text-align: center;
    color: #fff;
}
footer nav{
    display: flex;
    justify-content: end;
    gap: 1rem;
}

footer img {
    width: 50px;
}

.contacContainer {
    display:flex;
    justify-content: center;
}
.contactInfo {
    text-align: center;
}

.contactInfo h1, .contactInfo p{
    margin: 0px
}

.interactive{
    display: flex;
}

.map, .form {
    flex: 1;
}
.map iframe{
    width: 100%;
    height: 100%;
}

.columnForm {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(5,1fr);
    align-items: center;
    row-gap: 10px;
}

.radioSpan {
    grid-row: span 3;
    display: flex;
    flex-direction: column;   
}

legend {
    grid-row: span 3;
    align-self: center;
    white-space: normal;
    max-width: 120px;
}

.fullspan {
    grid-column: span 2;
}

.columnForm input {
    padding: 5px;
}

button{
    padding: 5px;
}

textarea{
    padding: 5px;
}

.employees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    max-width: 800px;
    border: 1px solid black;
    text-align: center;
}

.employees h2 {
    display: grid;
    grid-column: 1 / -1;
    justify-self: center;
    margin-bottom: 20px;
}

.employees figure {
    display: grid;
    
}
.employees img {
    width: auto;
    height: 300px;
    margin: 1rem;
}

/* To eliminate fieldset interference with the grid */
fieldset {
    border: none;
    padding: 0;
    margin: 0;
    min-inline-size: 0; 
}

fieldset.fullspan {
    grid-column: span 2;
    display: contents;
}
