* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1A1A1A;
    --secondary-color: #007ACC;
    --accent1-color: #2D2D2D;
    --accent2-color: #FFB800;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a{
    text-decoration: none;
}

.hero {
    position:relative;
}

.hero h1 {
    position:absolute;
    top: 20px;
    width: 100%;
    opacity: 0.7;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    color: #fff
}

.hero article {
    position:absolute;
    bottom: 20px;
    right: 10px;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    opacity: 0.8;
}

.hero img{
    display:block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}