* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-blue: darkblue;
    --main-border: black;
}

nav {
    background-color: var(--main-blue);
    padding: 10px;
}
nav a {
    color: white;
    display:block;
    padding: 20px;
}

h1 {
    color:var(--main-blue)
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid var(--main-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 10px
}

p {
    padding: 0px;
}

main{
    max-width: 840px;
}

aside{
    width: 20rem;
    position:relative;
}

aside img{
    width: 200px;
    height: auto;
}

aside h2{
    position:absolute;
    top: 13px;
    left: 70px;
    z-index: 100;
    color: white;
}

footer{
    margin-top: 1rem;
    border-top: 2px solid;
    text-align: center;
    display: block;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid var(--main-border);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}