* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-blue: darkblue;
    --main-border: black;
}

nav {
    background-color: var(--main-blue);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    display: block;
    color: white;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    
}

h1 {
    color:var(--main-blue);
    border-bottom: 2px solid #333 ;
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid var(--main-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 10px
}

p {
    padding: 0px;
}

.grid{
    display: grid;
    align-items: center;
}


main{
    grid-column: 2/3;
    margin: 1rem;
}

aside{
    width: 20rem;
    position:relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img{
    width: 200px;
    height: auto;
}

aside h2{
    position:absolute;
    top: 13px;
    left: 70px;
    z-index: 100;
    color: white;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;

}

footer{
    margin-top: 1rem;
    border-top: 2px solid;
    text-align: center;
    display: block;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid var(--main-border);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}

